body {
    /* background-color: rgb(176, 229, 231); */
    background-image: url(/images/background-2819026_1920.jpg);
}

/*HOME PAGE CSS */
#mainSlides {
    display: flex;
    justify-content: center;
}

.carousel-inner {
    width: 90%;
    height: auto;
}

.carousel-caption {
    color: mediumslateblue;
    background-color: mistyrose;
    border-radius: 10%;
}

/* QUIZ CSS */
#main {
    display: flex;
    justify-content: center;

}

#quizDiv {
    width: 90%;
    height: auto;
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headline {
    text-align: center;
    padding: 100px;
}

#quizForm {
    padding-bottom: 100px;
}